name: CI Docker Container

on:
  push:
    branches:
      - main
    tags:
      - '*'
  pull_request:

jobs:
  test:
    name: Julia ${{ matrix.version }} - ${{ matrix.os }} - ${{ matrix.arch }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        version:
          - '1'
        os:
          - ubuntu-latest
        arch:
          - x64
    steps:
      - uses: actions/checkout@v6
      - name: Run tests in Docker container
        run: |
          docker run --rm -v ${{ github.workspace }}:/app -w /app julia:${{ matrix.version }} julia --project=. -e 'using Pkg; Pkg.test(); Pkg.test("RustToolChain")'

